@import '../../common/mixins';

.estate-list {
  @include container();
}

.estate-list__header {
  @include header();
}

.estate-list__title {
  margin: 0;
}

.estate-list__content {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 7px;
}

@media (max-width: 500px) {
  .estate-list__title {
    font-size: 18px;
  }

  .estate-list__content {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}
